{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!DOCTYPE html>

<head>
    <title>Example</title>
    <link rel="stylesheet" href="assets/application.css">
</head>

<body>
    <!-- Copy and paste component HTML-->
    <script src="assets/application.js"></script>
</body>

</html>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"> Manage employer application </h1>
        <nav class="hmcts-sub-navigation" aria-label="Sub navigation">
            <ul class="hmcts-sub-navigation__list">
                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" aria-current="page" href="p1"> Confirm PDF </a>
                </li>
                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" href="p2"> Process </a>
                </li>
                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" href="p3"> Approve </a>
                </li>
            </ul>
        </nav>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading"> Application references </h1>
            </legend>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20"> Application ID </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20"> Full reference number </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20"> Application date </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20"> Application type </label>
                <div class="govuk-radios govuk-radios--small">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                        <label class="govuk-label govuk-radios__label" for="changed-name">
                            Employer
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                            Gateway
                        </label>
                    </div>
                </div>
            </div>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading"> Employer details </h1>
            </legend>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20"> Full name </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"> </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Email </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"> </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">Telephone number </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"> </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20"> Organisation name </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"> </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20"> Companies House number</label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"> </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20"> Charity registration number</label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"> </div>
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

                    <h1 class="govuk-fieldset__heading"> Organisation address </h1>



                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-line-1"> Address line 1
                        <span class="govuk-visually-hidden">line 1 of 2</span>
                    </label>
                    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"> </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-line-2">Address line 2
                        <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                    </label>
                    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"> </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-postcode"> Town </label>

                    <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2"> </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-postcode"> Country </label>
                    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-postcode"> Postcode </label>
                    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
                </div>

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading"> Kickstart job placement details </h1>
                </legend>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="width-3"> Number of job placements </label>
                    <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="number"> </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="width-10"> Expected date of decision </label>
                    <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="number"> </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="width-10"> Linked Application ID's</label>
                    <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="number"> </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20"> Main or additional application </label>
                    <div class="govuk-radios govuk-radios--small">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                            <label class="govuk-label govuk-radios__label" for="changed-name">
                                Main
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                            <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                Additional
                            </label>
                        </div>
                    </div>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="width-10"> Date work started on application</label>
                    <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="number"> </div>
                <a href="p2" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                    Save and continue

                </a>
    </div>

    {% endblock %}