{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!DOCTYPE html>

<head>
    <title>Example</title>
    <link rel="stylesheet" href="assets/application.css">
</head>

<body>
    <!-- Copy and paste component HTML-->
    <script src="assets/application.js"></script>
</body>

</html>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Manage Kickstart gateway application
        </h1>
        <nav class="hmcts-sub-navigation" aria-label="Sub navigation">
            <ul class="hmcts-sub-navigation__list">
                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" aria-current="page" href="g1">
                        Confirm PDF
                    </a>
                </li>
                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" href="g2">
                        Process
                    </a>
                </li>
                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" href="g3">
                        Approve
                    </a>
                </li>
            </ul>
        </nav>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                    Application references
                </h1>
            </legend>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Application ID
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Full reference number
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Application date
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                    Kickstart gateway details
                </h1>
            </legend>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Application type
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Name of applicant
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Person answering enquiries
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Application contact details
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Organisation name
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20"> Companies House registration number</label>
                    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"> </div>
                <label class="govuk-label" for="width-20"> Charity Commission number</label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text"> </div>
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h1 class="govuk-fieldset__heading">
                        Organisation address
                    </h1>
                </legend>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-line-1">
                        Building and street
                        <span class="govuk-visually-hidden">line 1 of 2</span>
                    </label>
                    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
                </div>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-line-2">
                        <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                    </label>
                    <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
                </div>



                <div class="govuk-form-group">
                    <label class="govuk-label" for="address-postcode">
                        Postcode
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
                </div>

            </fieldset>
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                </h1>
                <p>
                    Kickstart gateway employers' details
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
           
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                    Kickstart job placement details
                </h1>
            </legend>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-3">
                    Number of job placements
                </label>
                <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="number">
            </div>
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                </h1>
                <p>
                    What sort of roles are you planning to create for the Kickstart Scheme? </p>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                </h1>
                <p>
                    What information do you have to show us that your job placement is just for the Kickstart Scheme?
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                </h1>
                <p>
                    How will you support the long term employability of young people?
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
           
        <a href="g2" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Save and continue
        
        </a>
    </div>
</div>
{% endblock %}