{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!DOCTYPE html>

<head>
    <title>Example</title>
    <link rel="stylesheet" href="assets/application.css">
</head>

<body>
    <!-- Copy and paste component HTML-->

    <script src="assets/application.js"></script>
</body>

</html>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Manage employer application
        </h1>


        <nav class="hmcts-sub-navigation" aria-label="Sub navigation">

            <ul class="hmcts-sub-navigation__list">

                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" href="p1">
                        Confirm PDF
                    </a>
                </li>

                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" aria-current="page" href="p2">
                        Assess
                    </a>
                </li>

                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" href="p3">
                        Approve
                    </a>
                </li>

            </ul>

        </nav>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">

                </h1>
            </legend>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            Sent for spotlight check
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--small">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="spotlight-check" name="spotlight-check" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="spotlight-check">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="spotlight-check-2" name="spotlight-check" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="spotlight-check-2">
                                No
                            </label>
                        </div>
                    </div>

                </fieldset>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">

                        </h1>
                    </legend>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                    Spotlight approved
                                </h1>
                            </legend>
                            <div class="govuk-radios govuk-radios--small">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="spotlight-approved" name="spotlight-approved" type="radio" value="month">
                                    <label class="govuk-label govuk-radios__label" for="spotlight-approved">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="spotlight-approved-2" name="spotlight-approved" type="radio" value="year">
                                    <label class="govuk-label govuk-radios__label" for="spotlight-approved-2">
                                        No
                                    </label>
                                </div>
                            </div>

                        </fieldset>

                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">

                                </h1>
                            </legend>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h1 class="govuk-fieldset__heading">
                                            Reason rejected by Spotlight
                                        </h1>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--small">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="reason-rejected" name="reason-rejected" type="radio" value="lower">
                                            <label class="govuk-label govuk-radios__label" for="reason-rejected">
                                                Company is less than one-year old and has a Delphi Score of 10 or Lower
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="reason-rejected-2" name="reason-rejected" type="radio" value="risk">
                                            <label class="govuk-label govuk-radios__label" for="reason-rejected-2">
                                                Spotlight checks indicate there is a high overall financial viability risk
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="reason-rejected-3" name="reason-rejected" type="radio" value="delphi">
                                            <label class="govuk-label govuk-radios__label" for="reason-rejected-3">
                                                Company is Older than One Year and has a Delphi Score of 5 or Lower
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="reason-rejected-4" name="reason-rejected" type="radio" value="not">
                                            <label class="govuk-label govuk-radios__label" for="reason-rejected-4">
                                                Not on Spotlight
                                            </label>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="width-20">
                                    Date work started on application
                                </label>
                                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h1 class="govuk-fieldset__heading">
                                            Assessment criteria approved
                                        </h1>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--small">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="approved" name="approved" type="radio" value="month">
                                            <label class="govuk-label govuk-radios__label" for="approved">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="approved-2" name="approved" type="radio" value="year">
                                            <label class="govuk-label govuk-radios__label" for="approved-2">
                                                No
                                            </label>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>

                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h1 class="govuk-fieldset__heading">
                                            Contacted employer / Kickstart gateway
                                        </h1>
                                    </legend>
                                    <div class="govuk-radios govuk-radios--small">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="contacted-employer" name="contacted-employer" type="radio" value="month">
                                            <label class="govuk-label govuk-radios__label" for="contacted-employer">
                                                Yes
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="contacted-employer-2" name="contacted-employer" type="radio" value="year">
                                            <label class="govuk-label govuk-radios__label" for="contacted-employer-2">
                                                No
                                            </label>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="width-20">
                                    Date info request made
                                </label>
                                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                            </div>
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    <h1 class="govuk-fieldset__heading">

                                    </h1>
                                </legend>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                            <h1 class="govuk-fieldset__heading">
                                                Reason for rejection
                                            </h1>
                                        </legend>
                                        <div class="govuk-radios govuk-radios--small">
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="reason-rejection" name="reason-rejection" type="radio" value="spot">
                                                <label class="govuk-label govuk-radios__label" for="reason-rejection">
                                                    Spotlight Fail
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="reason-rejection-2" name="reason-rejection" type="radio" value="trace">
                                                <label class="govuk-label govuk-radios__label" for="reason-rejection-2">
                                                    Spotlight No Trace
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="reason-rejection-3" name="reason-rejection" type="radio" value="ratio">
                                                <label class="govuk-label govuk-radios__label" for="reason-rejection-3">
                                                    Ratio not Met
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="reason-rejection-4" name="reason-rejection" type="radio" value="add">
                                                <label class="govuk-label govuk-radios__label" for="reason-rejection-4">
                                                    Additionality
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="reason-rejection-5" name="reason-rejection" type="radio" value="emp">
                                                <label class="govuk-label govuk-radios__label" for="reason-rejection-5">
                                                    Employability
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="reason-rejection-6" name="reason-rejection" type="radio" value="both">
                                                <label class="govuk-label govuk-radios__label" for="reason-rejection-7">
                                                    Additionality and Employability
                                                </label>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h1 class="govuk-fieldset__heading">

                                        </h1>
                                    </legend>
                                    <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                <h1 class="govuk-fieldset__heading">
                                                    Recommended decision
                                                </h1>
                                            </legend>
                                            <div class="govuk-radios govuk-radios--small">
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="recommended-decision" name="recommended-decision" type="radio" value="month">
                                                    <label class="govuk-label govuk-radios__label" for="recommended-decision">
                                                        Approve
                                                    </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="recommended-decision-2" name="recommended-decision" type="radio" value="year">
                                                    <label class="govuk-label govuk-radios__label" for="recommended-decision-2">
                                                        Reject
                                                    </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="recommended-decision-3" name="recommended-decision" type="radio" value="year">
                                                    <label class="govuk-label govuk-radios__label" for="recommended-decision-3">
                                                        Duplicate
                                                    </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="recommended-decision-4" name="recommended-decision" type="radio" value="year">
                                                    <label class="govuk-label govuk-radios__label" for="recommended-decision-4">
                                                        Withdrawn
                                                    </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="recommended-decision-5" name="recommended-decision" type="radio" value="year">
                                                    <label class="govuk-label govuk-radios__label" for="recommended-decision-5">
                                                        Gateway not Employer
                                                    </label>
                                                </div>
                                                <div class="govuk-radios__item">
                                                    <input class="govuk-radios__input" id="recommended-decision-6" name="recommended-decision" type="radio" value="year">
                                                    <label class="govuk-label govuk-radios__label" for="recommended-decision-6">
                                                        Employer not Gateway
                                                    </label>
                                                </div>
                                            </div>

                                        </fieldset>
                                    </div>
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" for="width-20">
                                            Date sent to Decision Board Secretariat
                                        </label>
                                        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                    </div>

                                    <div class="govuk-form-group">

                                        <a href="p3" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                                            Save and continue

                                        </a>
                                    </div>
                    </div>
            </div>

            {% endblock %}