{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!DOCTYPE html>

<head>
    <title>Example</title>
    <link rel="stylesheet" href="assets/application.css">
</head>

<body>
    <!-- Copy and paste component HTML-->

    <script src="assets/application.js"></script>
</body>

</html>
<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Manage employer application
        </h1>


        <nav class="hmcts-sub-navigation" aria-label="Sub navigation">

            <ul class="hmcts-sub-navigation__list">

                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" href="p1">
                        Confirm PDF
                    </a>
                </li>

                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" aria-current="page" href="p2">
                        Process
                    </a>
                </li>

                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" href="p3">
                        Approve
                    </a>
                </li>

            </ul>

        </nav>
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">

                </h1>
            </legend>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Date application received
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Expected date application completed
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Date application processing started
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>

        <a href="p3" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Save and continue
        
        </a>
    </div>
</div>

{% endblock %}