{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!DOCTYPE html>

<head>
    <title>Example</title>
    <link rel="stylesheet" href="assets/application.css">
</head>

<body>
    <!-- Copy and paste component HTML-->

    <script src="assets/application.js"></script>
</body>

</html>


<a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Manage employer application
        </h1>


        <nav class="hmcts-sub-navigation" aria-label="Sub navigation">

            <ul class="hmcts-sub-navigation__list">

                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" href="p1">
                        Confirm PDF
                    </a>
                </li>

                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" href="p2">
                        Assess
                    </a>
                </li>

                <li class="hmcts-sub-navigation__item">
                    <a class="hmcts-sub-navigation__link" aria-current="page" href="p3">
                        Approve
                    </a>
                </li>

            </ul>

        </nav>
        <div class="form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">

                    </h1>
                </legend>



                <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                        Original number of job placements </label>
                    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                        Total amount of funding</label>
                    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                </div>
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">

                        </h1>
                    </legend>
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <h1 class="govuk-fieldset__heading">
                                    Original Approval Board decision
                                </h1>
                            </legend>
                            <div class="govuk-radios govuk-radios--small">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                                    <label class="govuk-label govuk-radios__label" for="changed-name">
                                        Approved
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Rejected
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Requires Higher DFA
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Variation
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Additional EXTERNAL info needed
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Additional INTERNAL info needed
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Returned - Spotlight Rework Action
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Returned - Multiple Application Identified
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                    <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                        Withdrawn
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="govuk-form-group">
                        <label class="govuk-label" for="width-20">
                            Date of second Approval Board</label>
                        <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                    </div>
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">

                            </h1>
                        </legend>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    <h1 class="govuk-fieldset__heading">
                                        Second Approval Board decision
                                    </h1>
                                </legend>
                                <div class="govuk-radios govuk-radios--small">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                                        <label class="govuk-label govuk-radios__label" for="changed-name">
                                            Approved
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                            Rejected
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                            Requires Higher DFA
                                        </label>
                                    </div>

                                </div>

                            </fieldset>
                        </div>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    <h1 class="govuk-fieldset__heading">

                                    </h1>
                                </legend>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                            <h1 class="govuk-fieldset__heading">
                                                Higher DFA decision
                                            </h1>
                                        </legend>
                                        <div class="govuk-radios govuk-radios--small">
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                                                <label class="govuk-label govuk-radios__label" for="changed-name">
                                                    Approved
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                    Rejected
                                                </label>
                                            </div>


                                        </div>

                                    </fieldset>
                                </div>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="width-20">
                                        Number of approved job placements </label>
                                    <span class="govuk-hint">Include any additional job placements</span>
                                    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                </div>
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                            <h1 class="govuk-fieldset__heading">

                                            </h1>
                                        </legend>
                                        <div class="govuk-form-group">
                                            <fieldset class="govuk-fieldset">
                                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                    <h1 class="govuk-fieldset__heading">
                                                        Main reason for DFA rejection
                                                    </h1>
                                                </legend>
                                                <div class="govuk-radios govuk-radios--small">
                                                    <div class="govuk-radios__item">
                                                        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                                                        <label class="govuk-label govuk-radios__label" for="changed-name">
                                                            Spotlight / Financial Fail
                                                        </label>
                                                    </div>
                                                    <div class="govuk-radios__item">
                                                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                            Ratio Fail
                                                        </label>
                                                    </div>
                                                    <div class="govuk-radios__item">
                                                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                            Additionality and Employment Support
                                                        </label>
                                                    </div>
                                                    <div class="govuk-radios__item">
                                                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                            Incorrect Application
                                                        </label>
                                                    </div>
                                                    <div class="govuk-radios__item">
                                                        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                                        <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                                            Unable to Contact
                                                        </label>
                                                    </div>

                                                </div>

                                            </fieldset>
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="width-20">
                                                Batch number if pending approval</label>
                                            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="width-20">
                                                Date decision email sent</label>
                                            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="width-20">
                                                Date Award Letter sent</label>
                                            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="width-20">
                                                Date Grant Agreement sent</label>
                                            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="width-20">
                                                Date Vacancy Template sent</label>
                                            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                        </div>

                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="width-20">
                                                Date Grant Agreement Received</label>
                                            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="width-20">
                                                Date completed templates sent to Assessment Team and Vacancy Team</label>
                                            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                        </div>
                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="width-20">
                                                Date schedule sent to Payments Team</label>
                                            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                                        </div>
                                        <div class="govuk-form-group">

                                            <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                                                Submit

                                            </a>
                                        </div>
                                </div>
                        </div>

                        {% endblock %}