 {% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}
<!DOCTYPE html>

<head>
    <title>Example</title>
    <link rel="stylesheet" href="assets/application.css">
</head>

<body>
    <!-- Copy and paste component HTML-->

    <script src="assets/application.js"></script>
</body>

</html>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
         Apply for a Kickstart Scheme Grant for Employers
        </h1>

       
<nav class="hmcts-sub-navigation" aria-label="Sub navigation">

    <ul class="hmcts-sub-navigation__list">

        <li class="hmcts-sub-navigation__item">
            <a class="hmcts-sub-navigation__link" aria-current="page" href="v1">
                Employer application
            </a>
        </li>

        <li class="hmcts-sub-navigation__item">
            <a class="hmcts-sub-navigation__link" href="v2">
                Processing
            </a>
        </li>

        <li class="hmcts-sub-navigation__item">
            <a class="hmcts-sub-navigation__link" href="v3">
               Approval
            </a>
        </li>

    </ul>

</nav>        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                    Application references
                </h1>
            </legend>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                 Applicant reference number
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                     DWP full reference number
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                 Application date
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
            Employer details
        </h1>
    </legend>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                     Application type
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Name of applicant
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                     Person answering enquiries
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                     Application contact details
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                     Organisation name
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                     Companies House registration number or Charity Commission number
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
             Kickstart vacancy details
        </h1>
    </legend>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                     Vacancies offered
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                 What sort of roles are you planning to create for the Kickstart Scheme?
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                     What information do you have to show us that your vacancy is just for the Kickstart Scheme?
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                     How will you support the long term employability of young people?
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                 Where will your Kickstart vacancies be based?
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Employer Contact Name
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
    
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Employer Phone Number
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Employer Email
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Vacancy Holder Name
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Vacancy Holder Phone Number
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="width-20">
                    Vacancy Holder Email
                </label>
                <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
            </div>
<button class="govuk-button" data-module="govuk-button">
    Submit
</button>
    </div>
</div>

{% endblock %}